.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signin-nav {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.signin-nav-menu {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.signin-nav-profile {
  display: grid;
  grid-template-columns: 2fr 2fr ;
}

.click-able{
  cursor: pointer;
  transition: all 0.2s;
}

.card {
  background: white;
  padding: 3rem 5rem;
  margin : 1rem;
  width: 10rem;
}

.card-small {
  background: white;
  padding: 1rem 1rem;
  margin : 1rem;
  width: 10rem;
}

.card-small-selected {
  background: rgb(142, 225, 232);
  padding: 1rem 1rem;
  margin : 1rem;
  width: 10rem;
}

.expand {
  width: 10rem;
}

.race-list {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
}

.chat-window-frame {
  margin-top: 10px;
display: grid;
grid-template-columns: 1fr 2fr 1fr;
text-align: left;
height: 100px;
max-height: 100px;
}

.chat-window {
  width: 70%;
  height: 100px;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-input-frame {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 2fr;
  
  }

.chat-input {
  width: 70%;
}

.bc-logo {
  width: 50%;
  height: 50%;
}

.title-wrapper {
  margin-top: 10vh;
  padding: 0 10vw;
} 

.margin-10 {
  margin: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
